.card{
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    gap: 16px;
}

.img{
    border-radius:20px;
    min-width: 140px;
}

.title{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.name{
    width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
}

.btns{
    width: 100%;
    display: flex;
    gap: 15px;
}

.btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--btn-background);
    padding: 8px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}
.btn:hover{
    background-color: var(--btn-dark-background);
}

.price{
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.count{
    width: 100%;
    max-height: 32px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--btn-background);

    &_change{
        cursor: pointer;
        border-radius: 10px;
        min-width: 32px;
        border: none;
        padding: 8px;
        display: flex;
        align-items: center;
        background-color: var(--btn-background);
    }

    &_change:hover{
        background-color: var(--btn-dark-background);
    }
}

.quantity{
    text-align: center;
    height: 16px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}